# Louvain Algorithm for Community Detection

The Louvain algorithm is a community detection algorithm. It works on weighted edges, undirected edges, homogeneous vertex types and heterogeneous vertex types. Our Reddit graph is composed of three classes of nodes: "Users", "Comments", and "Subreddits", making it a heterogeneous graph.

In [1]:
# pip install ipycytoscape

In [1]:
import pyTigerGraph
from pyTigerGraph.datasets import Datasets
from pyTigerGraph.visualization import drawSchema
from pyTigerGraph import TigerGraphConnection
import json

# Read in DB configs
with open('config.json', "r") as config_file:
    config = json.load(config_file)

conn = TigerGraphConnection(
    host=config["host"],
    graphname=config["graphname"],
    username=config["username"],
    password=config["password"],
)

In [2]:
# graph secret (replace this)
conn.getToken("pm3jg7ns6cnhfl6nuqql2c0or0mts64h")
print(conn.echo())

Hello GSQL

In [3]:
print(conn.getVertexTypes())

['User', 'Comment', 'Subreddit']

In [4]:
print(conn.getEdgeTypes())

['wrote', 'belongs_to', 'replied_to']

In [5]:
# need to pip install icytoscape for vis to work

drawSchema(conn.getSchema(force=True))

CytoscapeWidget(cytoscape_layout={'name': 'circle', 'animate': True, 'padding': 1}, cytoscape_style=[{'selecto…

In [16]:
# need to actually install weighted edges onto graph
feat = conn.gds.featurizer()

In [17]:
# original params with "v_type_set"/"v_edge_set" does not work, change to v_type/e_type and use list of strings not set
feat.getParams("tg_louvain")

Parameters for tg_louvain (parameter: type [= default value]):
- v_type: SET<STRING>
- e_type: SET<STRING>
- wt_attr: str = "weight"
- max_iter: int = 10
- result_attr: str = "cid"
- file_path: str = ""
- print_info: bool = False

{'v_type': None,
 'e_type': None,
 'wt_attr': 'weight',
 'max_iter': 10,
 'result_attr': 'cid',
 'file_path': '',
 'print_info': False}

In [18]:
feat.listAlgorithms("Community")

Available algorithms for Community:
  connected_components:
    strongly_connected_components:
      01. name: tg_scc
  k_core:
    02. name: tg_kcore
  label_propagation:
    03. name: tg_label_prop
  local_clustering_coefficient:
    04. name: tg_lcc
  louvain:
    05. name: tg_louvain
  triangle_counting:
    06. name: tg_tri_count_fast
Call runAlgorithm() with the algorithm name to execute it

In [19]:
#louvain params/how do params change w multiple v/e types
params = {
    'v_type': ["User", "Subreddit", "Comment"],
    'e_type': ["wrote", "belongs_to", "replied_to"],
    'wt_attr': 'weight',
    'max_iter': 10,
    'result_attr': 'tg_louvain',
    'file_path': '',
    'print_info': False}

res = feat.runAlgorithm("tg_louvain", params = params)

Altering graph schema to save results...
The job add_VERTEX_attr_eEyOFH completes in 52.856 seconds!

In [20]:
user_df = conn.getVertexDataFrame("User", limit=100_000)
subreddit_df = conn.getVertexDataFrame("Subreddit", limit=100_000)
comment_df = conn.getVertexDataFrame("Comment", limit=100_000)

In [21]:
display(user_df)

                  v_id  is_train  is_test  tg_louvain
0           lastcall32     False    False   761266176
1      SomethingVulgar     False    False   726808827
2              daplane     False    False   719468411
3              subslol     False    False   717372018
4           Reads2Fast     False    False   717372045
...                ...       ...      ...         ...
99995    pennypacker84     False    False   703595399
99996        giacomobo     False    False   725696073
99997          harrybr     False    False   703595401
99998       ivybutcher     False    False   703595402
99999    misspinaberry     False    False   703595403

[100000 rows x 4 columns]

In [22]:
display(subreddit_df)

               v_id  is_train  is_test  tg_louvain
0            flying     False    False   828375040
1       icyhotwatch     False    False   828375041
2          abortion     False    False   828375042
3            dorama     False    False   828375043
4              thai     False    False   828375044
...             ...       ...      ...         ...
4415       Umphreys     False    False   643825802
4416  macessentials     False    False   643825803
4417           DADA     False    False   643825804
4418      doctorwho     False    False   643825805
4419            SNL     False    False   643825806

[4420 rows x 4 columns]

In [23]:
display(comment_df)

          v_id   subreddit  created_utc  karma  is_train  is_test  tg_louvain
0      c17gpbu        pics   1291175952      2     False    False   794820608
1      c17gp8w        pics   1291175925      1     False    False          -1
2      c17gp8h   AskReddit   1291175920      1     False    False          -1
3      c17gp62  reddit.com   1291175894      1     False    False          -1
4      c17gp3o   worldnews   1291175870      3     False    False   794820612
...        ...         ...          ...    ...       ...      ...         ...
99995  c19m6ye   AskReddit   1292741916      1     False    False          -1
99996  c19m6k4   AskReddit   1292741672      2     False    False   794920604
99997  c19m6jr        pics   1292741667      2     False    False          -1
99998  c19m6j9        pics   1292741657      1     False    False   794920606
99999  c19m6i8        food   1292741636      2     False    False          -1

[100000 rows x 7 columns]